<!--Footer page-->
<!--Author Name: Shila (300969886) Data: 11 Feb 2019-->

<script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
 
</body>
</html>