
<% include ./partials/header.ejs %>    
    
    <div class="container" >

<div class="position-relative overflow-hidden p-3 p-md-2 m-md-6 text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal" style="color:white">Hello.</h1>
    <p class="lead font-weight-normal" style="color:white">My name is Shila and I am a Full Stack Developer. I love building software with simple, clean User Interfaces that are
    easy to use and beautiful to look at.</p>
    <img src="../Assets/images/mission.png" class="img-fluid" alt="mission statment">
    
  </div>

</div>


  
<!--
      <div class="jumbotron-style">
<br/><br /><br /><br />
        <h1 class="display-3" style="color:white; text-align:center">Hello!</h1>
        <p class="display-5" style="color:white" ></p>
       
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    -->
    </div>

    <% include ./partials/footer.ejs %>