<% include ../partials/header.ejs %>

<div class="container text-center">

    <div class="position-relative overflow-hidden p-lg-1 p-md-1 m-md-6 text-center">
        <br><br>
        <div class="col-md-12 p-lg-1 mx-auto my-5"><br>
            <h1 class="display-4 font-weight-normal" style="color:white">Shila Das</h1>
            <img src="../Assets/images/shila 1.jpg" class="img-fluid" alt="shila das">
            <p class="lead font-weight-normal" style="color:white; margin-left: 2%">I bring over ten years’ experience in full stack developer and feel that my accomplishments and qualifications as a developer will
            benefit you.
            </p>
            <p class="lead font-weight-normal" style="color:white; margin-left: 2% ">
            I am proficient in C#, ASP.NET, HTML/CSS, MS SSIS, and SQL and have extensive experience with JavaScript, Oracle 12c,
            AJAX and vb.net. My attention to detail, communication and time management skills have proven beneficial to various
            software and systems development projects for business in such areas as banking, retail, and logistics.           
            </p>            
        </div>
        <hr style="height:5px;border:none;color:#333;background-color:#7142f4;" />
        <a href="../Assets/pdf/shila  das.pdf" class="btn" role="button" aria-pressed="true">
            <img src="../Assets/images/button_view-my-resume.png" class="img-fluid" alt="shila das">
        </a>
    </div>

</div>

<% include ../partials/footer.ejs %>