<% include ../partials/header.ejs %>

<div class="container">
    <h1 class="text-center" style="color:white">My Pojects</h1>
    <div class="card-group">
        <div class="card mt-4 mb-4">
            <img src="../Assets/images/report.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Report Process</h5>
                <p class="card-text">This software generate some report with couple of files uploading and processing as per central bank direction about all
                foreign exchange related transaction for further submitting to Bangladesh Bank.</p>
                <p class="card-text">No need to manual report generate for Bangladesh bank after this software. They can generate that with couple of files
                uploading and processing. It saves time. Bank can use their staff for doing other works.</p>                
            </div>
        </div>
        <div class="card m-4" >
            <img src="../Assets/images/passport.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Passport Managment</h5>
                <p class="card-text">This software used for management of Machine Readable Passport (MRP) of Bangladesh which is replaced hand written
                passport. Anyone can apply for MRP via online and can login to view the delivery date and status of passport. Employee
                can login and print the MRP with necessary information after all validation process.</p>
                
            </div>
        </div>
        <div class="card mt-4 mb-4">
            <img src="../Assets/images/bank.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Banking Internal Website</h5>
                <p class="card-text">This website helps to quick view for all credit card defaulter's current status and contact no for collecting amount and
                helping to inform customer about updated status and keep record of some legal information about card holders. User can
                contact with some customer who may be tried to change their contact frequently for escaping from collectors. And user
                can inform current status in a short time via phone.</p>
                
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>