<!--Service page-->
<!--Author Name: Shila (300969886) Data: 15 Feb 2019-->

<% include ../partials/header.ejs %>
<div class="container text-left">
 <h1 class="text-center" >My Services</h1>


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Full Stack Developer
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
     <ul class="list-group list-group-flush">
    <li class="list-group-item">Design overall architecture of the web application.</li>
    <li class="list-group-item">Maintain quality and ensure responsiveness of applications.</li>
    <li class="list-group-item">Collaborate with the rest of the engineering team to design and launch new features.</li>
     <li class="list-group-item">Maintain code integrity and organization. Integrate data from various back-end services and databases</li>
      <li class="list-group-item">Experience working with graphic designers and converting designs to visual elements.</li>
       <li class="list-group-item">Understanding and implementation of security and data protection.</li>
       <li class="list-group-item">Knowledge of code versioning tools such as Git or SVN.</li>
       <li class="list-group-item">Experience in AWS.</li>
  </ul>        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Front End Developer
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group list-group-flush">
    <li class="list-group-item">Experienced in developing responsive, interactive websites.</li>
    <li class="list-group-item">Develop new user-facing features.</li>
    <li class="list-group-item">Ensure the technical feasibility of UI/UX designs.</li>
     <li class="list-group-item">Good understanding of asynchronous request handling, partial page updates, and AJAX.</li>
      <li class="list-group-item">Experience working with graphic designers and converting designs to visual elements.</li>
       <li class="list-group-item">Proficient understanding of cross-browser compatibility issues and ways to work around them.</li>
  </ul>     
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Back End Developer
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
         <ul class="list-group list-group-flush">
    <li class="list-group-item">Good understanding of server-side CSS preprocessors, such as LESS and SASS.</li>
    <li class="list-group-item">User authentication and authorization between multiple systems, servers, and environments.</li>
    <li class="list-group-item">Implementing automated testing platforms and unit tests.</li>
     <li class="list-group-item">Creating database schemas that represent and support business processes.</li>
      <li class="list-group-item">Understanding differences between multiple delivery platforms such as mobile vs desktop, and optimizing output to match the specific platform.</li>
       <li class="list-group-item">Data migration, transformation, and scripting.</li>
       <li class="list-group-item">Integration of multiple data sources and databases into one system.</li>
       <li class="list-group-item">Compile and analyze data, processes, and codes to troubleshoot problems and identify areas for improvement.</li>
       <li class="list-group-item">Collaborating with the front-end developers and other team members to establish objectives and design more functional, cohesive codes to enhance the user experience.</li>
  </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          .Net Developer
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       <ul class="list-group list-group-flush">
    <li class="list-group-item">Strong knowledge of .NET web framework.</li>
    <li class="list-group-item">Proficient in C# and/or VB.NET, with a good knowledge of their ecosystems.</li>
    <li class="list-group-item">Implementing automated testing platforms and unit tests.</li>
     <li class="list-group-item">Strong understanding of object-oriented programming.</li>
      <li class="list-group-item">Expert with Microsoft SQL Server.</li>
       <li class="list-group-item">Experience with popular web application frameworks.</li>
       <li class="list-group-item">Familiarity with Windows Presentation Framework.</li>
       
  </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Android Application Developer
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Windows Deskop Application Developer
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Angular Developer
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>



</div>
<% include ../partials/footer.ejs %>
