<% include ../partials/header.ejs %>
<br><br><br><br>
<h1 class="text-center" style="color:white">My Services</h1>
<br><br>
<div class="container">
  
  <div class="row">
    <div class="col-md-2">
      <div class="course-box">
        <img class="imgSize" src="../Assets/images/csharp1.png" alt="C#" title="C#" data-toggle="tooltip" data-placement="top"/>
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img class="imgSize" src="../Assets/images/css.png" alt="CSS" title="CSS" data-toggle="tooltip" data-placement="top" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img
          class="imgSize"
          src="../Assets/images/Javascript.png"
          alt="Java Script" title="Java Script" data-toggle="tooltip" data-placement="top" 
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img
          class="imgSize"
          src="../Assets/images/angularjs4.png"
          alt="Angular JS" title="Angular JS" data-toggle="tooltip" data-placement="top" 
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img class="imgSize" src="../Assets/images/MySQL.png" alt="MY SQL" title="MY SQL" data-toggle="tooltip" data-placement="top" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img
          class="imgSize"
          src="../Assets/images/dbms.png"
          alt="Database Management System" title="Database Management System" data-toggle="tooltip" data-placement="top" 
        />
      </div>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-2">
      <div class="course-box">
        <img
          class="imgSize" title="CSS" data-toggle="tooltip" data-placement="top" 
          src="../Assets/images/html5_icon.png"
          alt="HTML 5"
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img class="imgSize" src="../Assets/images/typescript_icon.png" alt="Type Script" title="Type Script" data-toggle="tooltip" data-placement="top" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img
          class="imgSize"
          src="../Assets/images/website_development_icon.png" title="Website Development" data-toggle="tooltip" data-placement="top" 
          alt="Website Development"
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img
          class="imgSize" title="Web Services" data-toggle="tooltip" data-placement="top" 
          src="../Assets/images/webservices_icon.png"
          alt="Web Services"
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img class="imgSize" src="../Assets/images/jquery_icon.png" alt="JQuery" title="JQuery" data-toggle="tooltip" data-placement="top" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="course-box">
        <img
          class="imgSize"
          src="../Assets/images/expressjs_icon.png" title="ExpressJS" data-toggle="tooltip" data-placement="top" 
          alt="ExpressJS"
        />
      </div>
    </div>
  </div>
<br><br>
<div class="row">
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" title="Bootstrap" data-toggle="tooltip" data-placement="top"
                src="../Assets/images/bootstrap4_icon.png" alt="Bootstrap" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/aws_lambda_icon.png" alt="AWS Lamda" title="AWS Lamda"
                data-toggle="tooltip" data-placement="top" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/amazon_web_services_icon.png" title="Amazon Web Service"
                data-toggle="tooltip" data-placement="top" alt="Amazon Web Service" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" title="DynamoDB" data-toggle="tooltip" data-placement="top"
                src="../Assets/images/dynamodb_icon.png" alt="DynamoDB" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/sqlite_icon.png" alt="Sql Lite" title="Sql Lite"
                data-toggle="tooltip" data-placement="top" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/amazonrds_icon.png" title="AWS RDS" data-toggle="tooltip"
                data-placement="top" alt="AWS RDS" />
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" title="WPF" data-toggle="tooltip" data-placement="top"
                src="../Assets/images/wpf_icon.png" alt="WPF" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/ms_sql_server_icon.png" alt="MS SQL Server" title="MS SQL Server"
                data-toggle="tooltip" data-placement="top" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/linq_icon.png" title="Linq"
                data-toggle="tooltip" data-placement="top" alt="Linq" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" title="ASP.NET MVC" data-toggle="tooltip" data-placement="top"
                src="../Assets/images/asp.net_mvc_icon.png" alt="ASP.NET MVC" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/dotnet_core_icon.png" alt=".NET core" title=".NET core"
                data-toggle="tooltip" data-placement="top" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/entity-framework.png" title="Entity Framework" data-toggle="tooltip"
                data-placement="top" alt="Entity Framework" />
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" title="ASP NET" data-toggle="tooltip" data-placement="top"
                src="../Assets/images/asp-net.png" alt="ASP NET" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/mongodb.png" alt="MongoDB" title="MongoDB"
                data-toggle="tooltip" data-placement="top" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/ajax_icon.png" title="Ajax" data-toggle="tooltip"
                data-placement="top" alt="Ajax" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" title="Azure" data-toggle="tooltip" data-placement="top"
                src="../Assets/images/microsoft_azure_icon.png" alt="Azure" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/vbnet.png" alt="VB.Net" title="VB.Net"
                data-toggle="tooltip" data-placement="top" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="course-box">
            <img class="imgSize" src="../Assets/images/Data-Structure.png" title="Data Structure"
                data-toggle="tooltip" data-placement="top" alt="Data Structure" />
        </div>
    </div>
</div>
</div>
<% include ../partials/footer.ejs %>
